---
import { GetStaticPathsOptions, Page } from 'astro'

import BaseLayout from '@/layouts/BaseLayout.astro'
import PaginateMenu from '@components/PaginateMenu.astro'
import PostCards from '@components/card/PostCards.astro'
import dataPromise from '@data'
import { BlogPost } from '@data/types'

export interface Props {
  page: Page<BlogPost>
}

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const { posts } = await dataPromise
  return paginate(posts, { pageSize: 12 })
}

const { page } = Astro.props as Props
---

<BaseLayout title="All Posts in AC Dustbin">
  <Fragment slot="head">
    <meta
      name="description"
      content={`Page ${page.currentPage} of all posts in AC Dustbin. ` +
        'AC Dustbin is a place where Allan Chain writes his blogs ' +
        'about programming, software, and many more.'}
    />
  </Fragment>
  <div text-center>
    <h1>All Posts</h1>
  </div>
  <div class="max-w-7xl mx-auto">
    <PostCards posts={page.data} />
  </div>
  <PaginateMenu page={page} />
</BaseLayout>
