// Using scss because sass/sass#1088

$card-title-word-break: normal;
$timeline-divider-width: 64px;

// Rally preset
$material-dark: (
  'background': #33333d,
  'cards': #373740,
  'text': (
    'primary': #fdf9ed,
    'secondary': #7986CB
  )
);

// Basil preset
$material-light: (
  'background': #FFFBE6,
  'cards': #f8f8e3,
  'text': (
    'primary': #264d41,
    'secondary': #3F51B5
  )
);
