---
import { BlogPost } from '@data/types'
import PostCard from './PostCard.astro'

export interface Props {
  posts: BlogPost[]
}

const { posts } = Astro.props as Props
---

<div class="card-container">
  {
    posts.map((post) => (
      <div class="card-item">
        <PostCard post={post} />
      </div>
    ))
  }
  <!-- Dummy elements to take space -->
  {[0, 1, 2].map(() => <div class="card-item" />)}
</div>
