---
import dataPromise from '@data'
import PostCards from '@components/card/PostCards.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import FriendCard from '@components/card/FriendCard.astro'
import { prefixLink } from '@/utils'

const { posts, extraData } = await dataPromise
---

<BaseLayout title="AC Dustbin">
  <Fragment slot="head">
    <meta
      name="description"
      content={'The index page of AC Dustbin. ' +
        'AC Dustbin is a place where Allan Chain writes his blogs. ' +
        'Here are some recent posts and friends.'}
    />
  </Fragment>
  <div flex flex-wrap justify-evenly items-center>
    <img
      src={prefixLink('avatar/300.jpg')}
      alt="Avatar"
      width="200"
      height="200"
      rounded-full
      mx-8
    />

    <div w-md text-base class="grow-0.3">
      <h3>👋 Hi!</h3>
      <p>I'm Allan Chain. Thanks for your interest in my blog!</p>
      <p>
        I'm a programming hobbyist and open source lover. My primary programming
        languages are Python <i icon i-mdi-language-python></i> and JavaScript <i
          icon
          i-mdi-language-javascript></i>. I'm also having (or had) "fun" with
        <i icon i-mdi-docker></i>
        <i icon i-mdi-manjaro></i>
        <i icon i-mdi-raspberry-pi></i>
        <i icon i-mdi-minecraft></i>
        <i icon i-mdi-language-java></i>
        <i icon i-mdi-language-go></i>
        <i icon i-mdi-language-rust></i>
      </p>
      <p>
        This blog mainly hosts my notes when programming, as well as some other
        interesting bits. You can use this
        <a theme-link text-blue-800 dark:text-blue-400 href={prefixLink('rss.xml')}>
          RSS link
        </a>
        to subscribe.
      </p>
    </div>
  </div>
  <div
    text="amber-700 dark:amber-400"
    border="1 amber-500 rounded-md l-10"
    p="y-2 x-4"
    mx-auto
    mt-4
    mb-8
    max-w-2xl
  >
    <i icon i-mdi-gold text-xl mr-2></i>
    We will glow in the dark turning dust to gold.
    <div float-right text-blue-600 dark:text-blue-400>
      <i icon i-mdi-video></i>
      <a
        text-current
        decoration-none
        href="https://www.bilibili.com/video/bv14h411R7iL"
      >
        Dream It Possible
      </a>
    </div>
    <div clear-both></div>
  </div>
  <div flex items-center my-2>
    <div dash-divider></div>
    <div font-bold text-xl>Recent Blogs</div>
    <div dash-divider></div>
  </div>
  <div>
    <PostCards posts={posts.slice(0, 6)} />
  </div>
  <div text-right mb-4>
    <a theme-link text-blue-800 dark:text-blue-400 href={prefixLink('posts/')}>
      View more &gt;&gt;&gt;
    </a>
  </div>
  <div flex items-center my-2>
    <div dash-divider></div>
    <div font-bold text-xl>Friends</div>
    <div dash-divider></div>
  </div>

  <div class="card-container">
    {
      extraData.friends.map((friend) => (
        <div class="card-item">
          <FriendCard friend={friend} />
        </div>
      ))
    }
    <!-- Dummy elements to take space -->
    {[0, 1, 2].map(() => <div class="card-item" />)}
  </div>
</BaseLayout>
