---
import 'highlight.js/styles/atom-one-dark.css'
import 'normalize.css'
import 'uno.css'
import dataPromise from '@data/index'
import type { BlogPost, BlogLabel } from '@data/index'
import PostLabel from '@components/PostLabel.vue'
import PostMain from '@components/PostMain.vue'

export interface Props {
  post: BlogPost
  labels: BlogLabel[]
}

export async function getStaticPaths() {
  const { posts, labels } = await dataPromise
  return posts.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: {
      post,
      labels: post.labels.map((name) => labels[name]),
    },
  }))
}

const { post, labels } = Astro.props as Props
---

<title>{post.title}</title>
{post.body.includes('katex') && (
<link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/katex@0.15.6/dist/katex.min.css"
  integrity="sha256-J+iAE0sgH8QSz9hpcDxXIftnj65JEZgNhGcgReTTK9s=" crossorigin="anonymous" />
)}

<body>
  <PostMain post={post} labels={labels} />
</body>
