---
import dataPromise from '@data/index'
import type { ParsedPost } from '@data/parser'

import '../../styles/article.scss'
import 'uno.css'

export interface Props {
  post: ParsedPost
}

export async function getStaticPaths() {
  const { posts } = await dataPromise
  return posts.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: {
      post,
    },
  }))
}

const { post } = Astro.props as Props
---

<title>{post.title}</title>
<body>
  <main>
    <article class="article-main markdown-body" set:html={post.body}></article>
  </main>
</body>
