---
import { ReactionGroup } from '@data/types'

import AddReaction from './AddReaction.astro'

export interface Props {
  reactions: ReactionGroup[]
  url: string
}

const { reactions, url } = Astro.props as Props
---

<div inline-block px-1 my-2>
  <AddReaction url={url} />
  {
    reactions.map((reaction) => (
      <div inline-flex items-center select-none m="x-1 y-1" p="y-0.5 x-0.5">
        <div mx-1>{reaction.emoji}</div>
        <div mr-1>{reaction.count}</div>
      </div>
    ))
  }
</div>
