---
import dataPromise from '@data'
import type { BlogPost, BlogLabel } from '@data/types'
import 'unocss-hmr-fix'
import PostCards from '@components/card/PostCards.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import PostLabel from '@components/PostLabel.vue'

export interface Props {
  label: BlogLabel
  posts: BlogPost[]
}

export async function getStaticPaths() {
  const { posts, labels } = await dataPromise
  return Object.entries(labels).map(([id, label]) => ({
    params: { name: id.replace(': ', '-') },
    props: {
      label,
      posts: posts.filter(({ labels: postLabels }) =>
        postLabels.includes(label)
      ),
    },
  }))
}

const { label, posts } = Astro.props as Props
---

<BaseLayout title={label.id}>
  <h1>
    All posts with label
    <PostLabel label={label} class='text-xl!' />
  </h1>
  <PostCards posts={posts} />
</BaseLayout>
