---
import dataPromise from '@data'
import type { BlogPost, BlogLabel } from '@data/types'
import PostCard from '@/components/PostCard.astro'
import 'unocss-hmr-fix'

export interface Props {
  label: BlogLabel
  posts: BlogPost[]
}

export async function getStaticPaths() {
  const { posts, labels } = await dataPromise
  return Object.entries(labels).map(([id, label]) => ({
    params: { name: id.replace(': ', '-') },
    props: {
      label,
      posts: posts.filter(({ labels: postLabels }) =>
        postLabels.includes(label)
      ),
    },
  }))
}

const { label, posts } = Astro.props as Props
---

<title>{label.id}</title>

<body class='bg-gray-100'>
  <h1>All posts with label `{label.id}`</h1>
  <div class='flex flex-wrap items-center justify-evenly'>
    {posts.map((post) => (
      <div class="m-1 w-xs" style="flex-grow: 0.3;">
        <PostCard post={post} />
      </div>
    ))}
    <!-- Dummy elements to take space -->
    {[0, 1, 2].map(() => <div class="m-1 w-xs" style="flex-grow: 0.3;" />)}
  </div>
</body>
