@import "d~github-syntax-dark/lib/github-dark.css";

.v-application code,
.v-application code:after,
.v-application code:before {
  all: unset;
}

.highlight {
  position: relative;
}

pre {
  padding: 16px;
  overflow: auto;
  line-height: 1.45;
  background-color: #282c34;
  color: white;
  border-radius: 3px;
  margin-bottom: 16px;
  font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;
}

.highlight .code-lang {
  position: absolute;
  /* z-index: 3; */
  top: 0.8em;
  right: 1em;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.6);
}
